<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../src/css/styles.css" />
    <title>Todo-App</title>
  </head>
  <body id="myBody">
    <div class="box">
      <div class="box__date" id="date-js">0000년 00월 00일</div>
      <div class="box__time" id="time-js">00:00:00</div>
      <input class="box__txt" type="text" />
    </div>
  </body>

  <script src="../src/js//init.js"></script>
</html>
